@import './custom-variables';


.region-sidebar1 {
    background-color: aqua;
}

#mxapp {
  --grey-0: #ffffff;
  --grey-1: #f7f7f7;
  --grey-2: #f2f2f3;
  --grey-3: #e7e7e9;
  --grey-4: #d9dbdd;
  --grey-5: #c1c3c8;
  --grey-6: #9ea2a9;
  --grey-7: #6b707b;
  --grey-8: #535965;
  --grey-9: #2f3646;
  --grey-10: #0a1324;
  --blue-1: #dceefe;
  --blue-2: #c2e2ff;
  --blue-3: #99d0ff;
  --blue-4: #6ebdff;
  --blue-5: #47a9ff;
  --blue-6: #298efb;
  --blue-7: #146ff4;
  --blue-8: #064ae4;
  --blue-9: #0123c6;
  --blue-10: #0006ab;
  --green-1: #e1fae1;
  --green-2: #b8f3b8;
  --green-3: #92ee92;
  --green-4: #6ce66c;
  --green-5: #4fd84f;
  --green-6: #31c431;
  --green-7: #1db11d;
  --green-8: #0d990d;
  --green-9: #0a7d0a;
  --green-10: #076407;
  --purple-1: #e2e0fc;
  --purple-2: #cdc4ff;
  --purple-3: #b2a1ff;
  --purple-4: #9c81fe;
  --purple-5: #845eff;
  --purple-6: #6e3afd;
  --purple-7: #5b1bef;
  --purple-8: #4701d4;
  --purple-9: #3806ac;
  --purple-10: #2f008c;
  --red-1: #ffe5e9;
  --red-2: #fec3c3;
  --red-3: #fd9c9d;
  --red-4: #fd7072;
  --red-5: #fb4a4c;
  --red-6: #eb2c30;
  --red-7: #d31e23;
  --red-8: #bc1622;
  --red-9: #9e051b;
  --red-10: #780328;
  --violet-1: #f7e0ff;
  --violet-2: #edbefe;
  --violet-3: #e195fd;
  --violet-4: #d66cfb;
  --violet-5: #ca49f8;
  --violet-6: #bf2bf2;
  --violet-7: #ab19db;
  --violet-8: #950abf;
  --violet-9: #780194;
  --violet-10: #5c0066;
  --yellow-1: #fff2cf;
  --yellow-2: #ffe9ac;
  --yellow-3: #ffde84;
  --yellow-4: #ffd45d;
  --yellow-5: #fcc73a;
  --yellow-6: #f1b00b;
  --yellow-7: #e39600;
  --yellow-8: #c97800;
  --yellow-9: #a05700;
  --yellow-10: #803600;
  --alpha-grey-0: transparent;
  --alpha-grey-1: rgba(10, 19, 36, 0.03);
  --alpha-grey-2: rgba(10, 19, 36, 0.05);
  --alpha-grey-3: rgba(10, 19, 36, 0.1);
  --alpha-grey-4: rgba(10, 19, 36, 0.15);
  --alpha-grey-5: rgba(10, 19, 36, 0.25);
  --alpha-grey-6: rgba(10, 19, 36, 0.4);
  --alpha-grey-7: rgba(10, 19, 36, 0.6);
  --alpha-grey-8: rgba(10, 19, 36, 0.7);
  --alpha-grey-9: rgba(10, 19, 36, 0.85);
  --alpha-grey-10: #0a1324;
  --background-default: #ffffff;
  --background-subtle: #f7f7f7;
  --background-contrast: #0a1324;
  --background-mx-dock: #171717;
  --background-accordion-default: transparent;
  --background-accordion-hover: #f2f2f3;
  --background-table-header-default: #f2f2f3;
  --background-table-cell-default: #ffffff;
  --background-table-cell-hover: #f2f2f3;
  --background-table-cell-selected: #0a1324;
  --background-alert-info: #dceefe;
  --background-alert-success: #e1fae1;
  --background-alert-warning: #fff2cf;
  --background-alert-error: #ffe5e9;
  --background-highlight: #dceefe;
  --background-button-fill-blue-default: #146ff4;
  --background-button-fill-blue-hover: #064ae4;
  --background-button-fill-blue-active: #0123c6;
  --background-button-fill-red-default: #d31e23;
  --background-button-fill-red-hover: #bc1622;
  --background-button-fill-red-active: #9e051b;
  --background-button-fill-grey-default: #f2f2f3;
  --background-button-fill-grey-hover: #e7e7e9;
  --background-button-fill-grey-active: #d9dbdd;
  --background-button-fill-light-default: #ffffff;
  --background-button-fill-light-hover: #e7e7e9;
  --background-button-fill-light-active: #d9dbdd;
  --background-button-fill-dark-default: #0a1324;
  --background-button-fill-dark-hover: #2f3646;
  --background-button-fill-dark-active: #535965;
  --background-button-fill-selected-default: #0a1324;
  --background-button-fill-selected-hover: #2f3646;
  --background-button-fill-selected-active: #535965;
  --background-button-outline-blue-default: transparent;
  --background-button-outline-blue-hover: #dceefe;
  --background-button-outline-blue-active: #c2e2ff;
  --background-button-outline-red-default: transparent;
  --background-button-outline-red-hover: #ffe5e9;
  --background-button-outline-red-active: #fec3c3;
  --background-button-outline-grey-default: transparent;
  --background-button-outline-grey-hover: rgba(10, 19, 36, 0.1);
  --background-button-outline-grey-active: rgba(10, 19, 36, 0.15);
  --background-button-outline-light-default: transparent;
  --background-button-outline-light-hover: #2f3646;
  --background-button-outline-light-active: #535965;
  --background-button-outline-dark-default: transparent;
  --background-button-outline-dark-hover: rgba(10, 19, 36, 0.1);
  --background-button-outline-dark-active: rgba(10, 19, 36, 0.15);
  --background-button-text-blue-default: transparent;
  --background-button-text-blue-hover: #dceefe;
  --background-button-text-blue-active: #c2e2ff;
  --background-button-text-red-default: transparent;
  --background-button-text-red-hover: #ffe5e9;
  --background-button-text-red-active: #fec3c3;
  --background-button-text-grey-default: transparent;
  --background-button-text-grey-hover: rgba(10, 19, 36, 0.1);
  --background-button-text-grey-active: rgba(10, 19, 36, 0.15);
  --background-button-text-light-default: transparent;
  --background-button-text-light-hover: #2f3646;
  --background-button-text-light-active: #535965;
  --background-button-text-dark-default: transparent;
  --background-button-text-dark-hover: rgba(10, 19, 36, 0.1);
  --background-button-text-dark-active: rgba(10, 19, 36, 0.15);
  --background-elevation-0: #ffffff;
  --background-elevation-1: #ffffff;
  --background-elevation-4: #ffffff;
  --background-elevation-8: #ffffff;
  --background-elevation-16: #ffffff;
  --background-input-default: #ffffff;
  --background-input-read-only: #f2f2f3;
  --background-menu-item-default: transparent;
  --background-menu-item-hover: #f2f2f3;
  --background-nav-item-default: transparent;
  --background-nav-item-hover: rgba(10, 19, 36, 0.05);
  --background-nav-item-active: rgba(10, 19, 36, 0.1);
  --background-selector-selected: #2f3646;
  --background-selector-unselected: #ffffff;
  --background-underlay: rgba(10, 19, 36, 0.7);
  --border-default: #e7e7e9;
  --border-table-default: #e7e7e9;
  --border-alert-info: #c2e2ff;
  --border-alert-success: #b8f3b8;
  --border-alert-warning: #ffde84;
  --border-alert-error: #fec3c3;
  --border-app-icon: #f2f2f3;
  --border-button-fill-blue-default: transparent;
  --border-button-fill-blue-hover: transparent;
  --border-button-fill-blue-active: transparent;
  --border-button-fill-red-default: transparent;
  --border-button-fill-red-hover: transparent;
  --border-button-fill-red-active: transparent;
  --border-button-fill-grey-default: transparent;
  --border-button-fill-grey-hover: transparent;
  --border-button-fill-grey-active: transparent;
  --border-button-fill-light-default: transparent;
  --border-button-fill-light-hover: transparent;
  --border-button-fill-light-active: transparent;
  --border-button-fill-dark-default: transparent;
  --border-button-fill-dark-hover: transparent;
  --border-button-fill-dark-active: transparent;
  --border-button-outline-blue-default: #146ff4;
  --border-button-outline-blue-hover: #064ae4;
  --border-button-outline-blue-active: #0123c6;
  --border-button-outline-red-default: #d31e23;
  --border-button-outline-red-hover: #bc1622;
  --border-button-outline-red-active: #9e051b;
  --border-button-outline-grey-default: #2f3646;
  --border-button-outline-grey-hover: #0a1324;
  --border-button-outline-grey-active: #0a1324;
  --border-button-outline-light-default: #f7f7f7;
  --border-button-outline-light-hover: #ffffff;
  --border-button-outline-light-active: #ffffff;
  --border-button-outline-dark-default: #2f3646;
  --border-button-outline-dark-hover: #0a1324;
  --border-button-outline-dark-active: #0a1324;
  --border-button-text-blue-default: transparent;
  --border-button-text-blue-hover: transparent;
  --border-button-text-blue-active: transparent;
  --border-button-text-red-default: transparent;
  --border-button-text-red-hover: transparent;
  --border-button-text-red-active: transparent;
  --border-button-text-grey-default: transparent;
  --border-button-text-grey-hover: transparent;
  --border-button-text-grey-active: transparent;
  --border-button-text-light-default: transparent;
  --border-button-text-light-hover: transparent;
  --border-button-text-light-active: transparent;
  --border-button-text-dark-default: transparent;
  --border-button-text-dark-hover: transparent;
  --border-button-text-dark-active: transparent;
  --border-card: #e7e7e9;
  --border-divider: #e7e7e9;
  --border-focus: #298efb;
  --border-input-default: #c1c3c8;
  --border-input-error: #eb2c30;
  --border-selector-hover: #2f3646;
  --border-selector-active: #6b707b;
  --border-selector-selected: #2f3646;
  --border-tab-selected: #2f3646;
  --text-body: rgba(10, 19, 36, 0.7);
  --text-body-inverse: rgba(255, 255, 255, 0.83);
  --text-caption: rgba(10, 19, 36, 0.6);
  --text-caption-inverse: rgba(255, 255, 255, 0.74);
  --text-display: rgba(10, 19, 36, 0.85);
  --text-display-inverse: rgba(255, 255, 255, 0.92);
  --text-link-default: #064ae4;
  --text-link-hover: #0123c6;
  --text-link-active: #0006ab;
  --text-link-focus: #0123c6;
  --text-link-visited: #4701d4;
  --text-button-fill-blue-default: #ffffff;
  --text-button-fill-blue-hover: #ffffff;
  --text-button-fill-blue-active: #ffffff;
  --text-button-fill-red-default: #ffffff;
  --text-button-fill-red-hover: #ffffff;
  --text-button-fill-red-active: #ffffff;
  --text-button-fill-grey-default: rgba(10, 19, 36, 0.85);
  --text-button-fill-grey-hover: #0a1324;
  --text-button-fill-grey-active: #0a1324;
  --text-button-fill-light-default: rgba(10, 19, 36, 0.85);
  --text-button-fill-light-hover: #0a1324;
  --text-button-fill-light-active: #0a1324;
  --text-button-fill-dark-default: #ffffff;
  --text-button-fill-dark-hover: #ffffff;
  --text-button-fill-dark-active: #ffffff;
  --text-button-fill-selected-default: #ffffff;
  --text-button-fill-selected-hover: #ffffff;
  --text-button-fill-selected-active: #ffffff;
  --text-button-outline-blue-default: #146ff4;
  --text-button-outline-blue-hover: #064ae4;
  --text-button-outline-blue-active: #0123c6;
  --text-button-outline-red-default: #d31e23;
  --text-button-outline-red-hover: #bc1622;
  --text-button-outline-red-active: #9e051b;
  --text-button-outline-grey-default: rgba(10, 19, 36, 0.85);
  --text-button-outline-grey-hover: #0a1324;
  --text-button-outline-grey-active: #0a1324;
  --text-button-outline-light-default: #f7f7f7;
  --text-button-outline-light-hover: #ffffff;
  --text-button-outline-light-active: #ffffff;
  --text-button-outline-dark-default: rgba(10, 19, 36, 0.85);
  --text-button-outline-dark-hover: #0a1324;
  --text-button-outline-dark-active: #0a1324;
  --text-button-text-blue-default: #146ff4;
  --text-button-text-blue-hover: #064ae4;
  --text-button-text-blue-active: #0123c6;
  --text-button-text-red-default: #d31e23;
  --text-button-text-red-hover: #bc1622;
  --text-button-text-red-active: #9e051b;
  --text-button-text-grey-default: rgba(10, 19, 36, 0.85);
  --text-button-text-grey-hover: #0a1324;
  --text-button-text-grey-active: #0a1324;
  --text-button-text-light-default: #f7f7f7;
  --text-button-text-light-hover: #ffffff;
  --text-button-text-light-active: #ffffff;
  --text-button-text-dark-default: rgba(10, 19, 36, 0.85);
  --text-button-text-dark-hover: #0a1324;
  --text-button-text-dark-active: #0a1324;
  --text-danger: #eb2c30;
  --text-error: #eb2c30;
  --text-label: rgba(10, 19, 36, 0.85);
  --text-nav-item-default: rgba(10, 19, 36, 0.85);
  --text-nav-item-header: rgba(10, 19, 36, 0.6);
  --text-placeholder: rgba(10, 19, 36, 0.6);
  --text-tab-default: #6b707b;
  --text-tab-hover: #2f3646;
  --text-tab-selected: #2f3646;
  --icon-input-indicator: rgba(10, 19, 36, 0.4);
  --icon-input-action: rgba(10, 19, 36, 0.7);
  --icon-input-action-hover: #0a1324;
  --icon-input-error: #eb2c30;
  --icon-alert-info: #146ff4;
  --icon-alert-success: #0d990d;
  --icon-alert-warning: #c97800;
  --icon-alert-error: #d31e23;
  --outline-focus: #298efb;
  --accent-grey: #c1c3c8;
  --accent-red: #fb4a4c;
  --accent-yellow: #fcc73a;
  --accent-green: #4fd84f;
  --accent-blue: #47a9ff;
  --accent-purple: #845eff;
  --accent-violet: #ca49f8;
  --gradient-background-default-90: #000000;
  --gradient-background-subtle-90: #000000;
  --gradient-background-contrast-90: #000000;
}
#mxapp {
  --background-button-text-primary-hover: rgba(71, 169, 255, 0.1);
  --background-button-text-primary-active: rgba(71, 169, 255, 0.2);
  --background-button-text-danger-hover: rgba(251, 74, 76, 0.1);
  --background-button-text-danger-active: rgba(251, 74, 76, 0.2);
  --background-button-text-inverse-hover: rgba(10, 19, 37, 0.1);
  --background-button-text-inverse-active: rgba(10, 19, 37, 0.2);
  --gradient-transparent-to-background-main: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    white
  );
  --colorViolet-1: #f9ebfe;
  --colorViolet-2: #f2d7fe;
  --colorViolet-3: #eabcfc;
  --colorViolet-4: #e3a3fa;
  --colorViolet-5: #dd8bf7;
  --colorViolet-6: #d773f3;
  --colorViolet-7: #d25bee;
  --colorViolet-8: #cd45e9;
  --colorViolet-9: #be3dd7;
  --colorViolet-10: #af36c4;
  --colorViolet-11: #9f2fb1;
  --colorViolet-12: #8e289d;
  --colorViolet-13: #7e228a;
  --colorViolet-14: #6c1c75;
  --colorCoral-1: #ffeef0;
  --colorCoral-2: #ffdce1;
  --colorCoral-3: #ffc6cd;
  --colorCoral-4: #ffb0b8;
  --colorCoral-5: #ff9ca2;
  --colorCoral-6: #ff878d;
  --colorCoral-7: #ff7477;
  --colorCoral-8: #ff6161;
  --colorCoral-9: #f14f56;
  --colorCoral-10: #e33f4e;
  --colorCoral-11: #d53047;
  --colorCoral-12: #c72343;
  --colorCoral-13: #b9173f;
  --colorCoral-14: #ab0c3e;
  --colorYellow-1: #fff9e6;
  --colorYellow-2: #fff3cc;
  --colorYellow-3: #ffedaa;
  --colorYellow-4: #ffe78f;
  --colorYellow-5: #ffe178;
  --colorYellow-6: #ffda65;
  --colorYellow-7: #ffd355;
  --colorYellow-8: #faca4a;
  --colorYellow-9: #f9c03a;
  --colorYellow-10: #f2b42a;
  --colorYellow-11: #eca51c;
  --colorYellow-12: #e6930e;
  --colorYellow-13: #df8001;
  --colorYellow-14: #d96a00;
  --colorGreen-1: #f1fcf1;
  --colorGreen-2: #e3f9e3;
  --colorGreen-3: #d0f5d0;
  --colorGreen-4: #bef1be;
  --colorGreen-5: #acecac;
  --colorGreen-6: #9ae79a;
  --colorGreen-7: #88e288;
  --colorGreen-8: #77dd77;
  --colorGreen-9: #66d467;
  --colorGreen-10: #57ca57;
  --colorGreen-11: #49bf4a;
  --colorGreen-12: #3cb33d;
  --colorGreen-13: #309f31;
  --colorGreen-14: #258c27;
  --colorBlue-1: #ecf9ff;
  --colorBlue-2: #d9f3ff;
  --colorBlue-3: #b5e8ff;
  --colorBlue-4: #92dcff;
  --colorBlue-5: #70d0ff;
  --colorBlue-6: #4ec4fe;
  --colorBlue-7: #2dbafc;
  --colorBlue-8: #0cabf9;
  --colorBlue-9: #0098ec;
  --colorBlue-10: #0086d9;
  --colorBlue-11: #0072c6;
  --colorBlue-12: #005db3;
  --colorBlue-13: #00479f;
  --colorBlue-14: #00338c;
  --colorIndigo-1: #f1f3ff;
  --colorIndigo-2: #e3e7ff;
  --colorIndigo-3: #caceff;
  --colorIndigo-4: #b1b4ff;
  --colorIndigo-5: #9998ff;
  --colorIndigo-6: #8680ff;
  --colorIndigo-7: #7568ff;
  --colorIndigo-8: #6750ff;
  --colorIndigo-9: #5b47ec;
  --colorIndigo-10: #4f3eda;
  --colorIndigo-11: #4436c7;
  --colorIndigo-12: #392eb4;
  --colorIndigo-13: #2f27a2;
  --colorIndigo-14: #26218f;
  --colorUltramarine-1: #f3f5ff;
  --colorUltramarine-2: #e6eaff;
  --colorUltramarine-3: #bfcaff;
  --colorUltramarine-4: #99a9ff;
  --colorUltramarine-5: #7388ff;
  --colorUltramarine-6: #4d68f5;
  --colorUltramarine-7: #264ae5;
  --colorUltramarine-8: #0d2ed1;
  --colorUltramarine-9: #0b25bd;
  --colorUltramarine-10: #081ca9;
  --colorUltramarine-11: #061595;
  --colorUltramarine-12: #050f81;
  --colorUltramarine-13: #03096c;
  --colorUltramarine-14: #020557;
  --colorMidnight: #0a1325;
  --colorWhite: white;
  --colorBlack: black;
  --colorTransparent: transparent;
  --colorMidnight-3: #f8f8f8;
  --colorMidnight-5: #f3f3f4;
  --colorMidnight-10: #e7e7e9;
  --colorMidnight-15: #dadcde;
  --colorMidnight-20: #ced0d3;
  --colorMidnight-25: #c2c4c9;
  --colorMidnight-30: #b6b8be;
  --colorMidnight-35: #a9acb3;
  --colorMidnight-40: #9da1a8;
  --colorMidnight-45: #91959d;
  --colorMidnight-50: #858992;
  --colorMidnight-55: #787d87;
  --colorMidnight-60: #6c717c;
  --colorMidnight-65: #606671;
  --colorMidnight-70: #545a66;
  --colorMidnight-75: #474e5c;
  --colorMidnight-80: #3b4251;
  --colorMidnight-85: #2f3646;
  --colorMidnight-90: #232b3b;
  --colorMidnight-95: #161f30;
  --colorMidnight-97: #111a2c;
  --colorVioletAlpha-0: rgba(205, 69, 233, 0);
  --colorVioletAlpha-5: rgba(205, 69, 233, 0.05);
  --colorVioletAlpha-10: rgba(205, 69, 233, 0.1);
  --colorVioletAlpha-15: rgba(205, 69, 233, 0.15);
  --colorVioletAlpha-20: rgba(205, 69, 233, 0.2);
  --colorVioletAlpha-25: rgba(205, 69, 233, 0.25);
  --colorVioletAlpha-30: rgba(205, 69, 233, 0.3);
  --colorVioletAlpha-35: rgba(205, 69, 233, 0.35);
  --colorVioletAlpha-40: rgba(205, 69, 233, 0.4);
  --colorVioletAlpha-45: rgba(205, 69, 233, 0.45);
  --colorVioletAlpha-50: rgba(205, 69, 233, 0.5);
  --colorVioletAlpha-55: rgba(205, 69, 233, 0.55);
  --colorVioletAlpha-60: rgba(205, 69, 233, 0.6);
  --colorVioletAlpha-65: rgba(205, 69, 233, 0.65);
  --colorVioletAlpha-70: rgba(205, 69, 233, 0.7);
  --colorVioletAlpha-75: rgba(205, 69, 233, 0.75);
  --colorVioletAlpha-80: rgba(205, 69, 233, 0.8);
  --colorVioletAlpha-85: rgba(205, 69, 233, 0.85);
  --colorVioletAlpha-90: rgba(205, 69, 233, 0.9);
  --colorVioletAlpha-95: rgba(205, 69, 233, 0.95);
  --colorCoralAlpha-0: rgba(241, 79, 86, 0);
  --colorCoralAlpha-5: rgba(241, 79, 86, 0.05);
  --colorCoralAlpha-10: rgba(241, 79, 86, 0.1);
  --colorCoralAlpha-15: rgba(241, 79, 86, 0.15);
  --colorCoralAlpha-20: rgba(241, 79, 86, 0.2);
  --colorCoralAlpha-25: rgba(241, 79, 86, 0.25);
  --colorCoralAlpha-30: rgba(241, 79, 86, 0.3);
  --colorCoralAlpha-35: rgba(241, 79, 86, 0.35);
  --colorCoralAlpha-40: rgba(241, 79, 86, 0.4);
  --colorCoralAlpha-45: rgba(241, 79, 86, 0.45);
  --colorCoralAlpha-50: rgba(241, 79, 86, 0.5);
  --colorCoralAlpha-55: rgba(241, 79, 86, 0.55);
  --colorCoralAlpha-60: rgba(241, 79, 86, 0.6);
  --colorCoralAlpha-65: rgba(241, 79, 86, 0.65);
  --colorCoralAlpha-70: rgba(241, 79, 86, 0.7);
  --colorCoralAlpha-75: rgba(241, 79, 86, 0.75);
  --colorCoralAlpha-80: rgba(241, 79, 86, 0.8);
  --colorCoralAlpha-85: rgba(241, 79, 86, 0.85);
  --colorCoralAlpha-90: rgba(241, 79, 86, 0.9);
  --colorCoralAlpha-95: rgba(241, 79, 86, 0.95);
  --colorYellowAlpha-0: rgba(249, 192, 58, 0);
  --colorYellowAlpha-5: rgba(249, 192, 58, 0.05);
  --colorYellowAlpha-10: rgba(249, 192, 58, 0.1);
  --colorYellowAlpha-15: rgba(249, 192, 58, 0.15);
  --colorYellowAlpha-20: rgba(249, 192, 58, 0.2);
  --colorYellowAlpha-25: rgba(249, 192, 58, 0.25);
  --colorYellowAlpha-30: rgba(249, 192, 58, 0.3);
  --colorYellowAlpha-35: rgba(249, 192, 58, 0.35);
  --colorYellowAlpha-40: rgba(249, 192, 58, 0.4);
  --colorYellowAlpha-45: rgba(249, 192, 58, 0.45);
  --colorYellowAlpha-50: rgba(249, 192, 58, 0.5);
  --colorYellowAlpha-55: rgba(249, 192, 58, 0.55);
  --colorYellowAlpha-60: rgba(249, 192, 58, 0.6);
  --colorYellowAlpha-65: rgba(249, 192, 58, 0.65);
  --colorYellowAlpha-70: rgba(249, 192, 58, 0.7);
  --colorYellowAlpha-75: rgba(249, 192, 58, 0.75);
  --colorYellowAlpha-80: rgba(249, 192, 58, 0.8);
  --colorYellowAlpha-85: rgba(249, 192, 58, 0.85);
  --colorYellowAlpha-90: rgba(249, 192, 58, 0.9);
  --colorYellowAlpha-95: rgba(249, 192, 58, 0.95);
  --colorGreenAlpha-0: rgba(102, 212, 103, 0);
  --colorGreenAlpha-5: rgba(102, 212, 103, 0.05);
  --colorGreenAlpha-10: rgba(102, 212, 103, 0.1);
  --colorGreenAlpha-15: rgba(102, 212, 103, 0.15);
  --colorGreenAlpha-20: rgba(102, 212, 103, 0.2);
  --colorGreenAlpha-25: rgba(102, 212, 103, 0.25);
  --colorGreenAlpha-30: rgba(102, 212, 103, 0.3);
  --colorGreenAlpha-35: rgba(102, 212, 103, 0.35);
  --colorGreenAlpha-40: rgba(102, 212, 103, 0.4);
  --colorGreenAlpha-45: rgba(102, 212, 103, 0.45);
  --colorGreenAlpha-50: rgba(102, 212, 103, 0.5);
  --colorGreenAlpha-55: rgba(102, 212, 103, 0.55);
  --colorGreenAlpha-60: rgba(102, 212, 103, 0.6);
  --colorGreenAlpha-65: rgba(102, 212, 103, 0.65);
  --colorGreenAlpha-70: rgba(102, 212, 103, 0.7);
  --colorGreenAlpha-75: rgba(102, 212, 103, 0.75);
  --colorGreenAlpha-80: rgba(102, 212, 103, 0.8);
  --colorGreenAlpha-85: rgba(102, 212, 103, 0.85);
  --colorGreenAlpha-90: rgba(102, 212, 103, 0.9);
  --colorGreenAlpha-95: rgba(102, 212, 103, 0.95);
  --colorBlueAlpha-0: rgba(0, 152, 236, 0);
  --colorBlueAlpha-5: rgba(0, 152, 236, 0.05);
  --colorBlueAlpha-10: rgba(0, 152, 236, 0.1);
  --colorBlueAlpha-15: rgba(0, 152, 236, 0.15);
  --colorBlueAlpha-20: rgba(0, 152, 236, 0.2);
  --colorBlueAlpha-25: rgba(0, 152, 236, 0.25);
  --colorBlueAlpha-30: rgba(0, 152, 236, 0.3);
  --colorBlueAlpha-35: rgba(0, 152, 236, 0.35);
  --colorBlueAlpha-40: rgba(0, 152, 236, 0.4);
  --colorBlueAlpha-45: rgba(0, 152, 236, 0.45);
  --colorBlueAlpha-50: rgba(0, 152, 236, 0.5);
  --colorBlueAlpha-55: rgba(0, 152, 236, 0.55);
  --colorBlueAlpha-60: rgba(0, 152, 236, 0.6);
  --colorBlueAlpha-65: rgba(0, 152, 236, 0.65);
  --colorBlueAlpha-70: rgba(0, 152, 236, 0.7);
  --colorBlueAlpha-75: rgba(0, 152, 236, 0.75);
  --colorBlueAlpha-80: rgba(0, 152, 236, 0.8);
  --colorBlueAlpha-85: rgba(0, 152, 236, 0.85);
  --colorBlueAlpha-90: rgba(0, 152, 236, 0.9);
  --colorBlueAlpha-95: rgba(0, 152, 236, 0.95);
  --colorIndigoAlpha-0: rgba(103, 80, 255, 0);
  --colorIndigoAlpha-5: rgba(103, 80, 255, 0.05);
  --colorIndigoAlpha-10: rgba(103, 80, 255, 0.1);
  --colorIndigoAlpha-15: rgba(103, 80, 255, 0.15);
  --colorIndigoAlpha-20: rgba(103, 80, 255, 0.2);
  --colorIndigoAlpha-25: rgba(103, 80, 255, 0.25);
  --colorIndigoAlpha-30: rgba(103, 80, 255, 0.3);
  --colorIndigoAlpha-35: rgba(103, 80, 255, 0.35);
  --colorIndigoAlpha-40: rgba(103, 80, 255, 0.4);
  --colorIndigoAlpha-45: rgba(103, 80, 255, 0.45);
  --colorIndigoAlpha-50: rgba(103, 80, 255, 0.5);
  --colorIndigoAlpha-55: rgba(103, 80, 255, 0.55);
  --colorIndigoAlpha-60: rgba(103, 80, 255, 0.6);
  --colorIndigoAlpha-65: rgba(103, 80, 255, 0.65);
  --colorIndigoAlpha-70: rgba(103, 80, 255, 0.7);
  --colorIndigoAlpha-75: rgba(103, 80, 255, 0.75);
  --colorIndigoAlpha-80: rgba(103, 80, 255, 0.8);
  --colorIndigoAlpha-85: rgba(103, 80, 255, 0.85);
  --colorIndigoAlpha-90: rgba(103, 80, 255, 0.9);
  --colorIndigoAlpha-95: rgba(103, 80, 255, 0.95);
  --colorUltramarineAlpha-0: rgba(13, 46, 209, 0);
  --colorUltramarineAlpha-5: rgba(13, 46, 209, 0.05);
  --colorUltramarineAlpha-10: rgba(13, 46, 209, 0.1);
  --colorUltramarineAlpha-15: rgba(13, 46, 209, 0.15);
  --colorUltramarineAlpha-20: rgba(13, 46, 209, 0.2);
  --colorUltramarineAlpha-25: rgba(13, 46, 209, 0.25);
  --colorUltramarineAlpha-30: rgba(13, 46, 209, 0.3);
  --colorUltramarineAlpha-35: rgba(13, 46, 209, 0.35);
  --colorUltramarineAlpha-40: rgba(13, 46, 209, 0.4);
  --colorUltramarineAlpha-45: rgba(13, 46, 209, 0.45);
  --colorUltramarineAlpha-50: rgba(13, 46, 209, 0.5);
  --colorUltramarineAlpha-55: rgba(13, 46, 209, 0.55);
  --colorUltramarineAlpha-60: rgba(13, 46, 209, 0.6);
  --colorUltramarineAlpha-65: rgba(13, 46, 209, 0.65);
  --colorUltramarineAlpha-70: rgba(13, 46, 209, 0.7);
  --colorUltramarineAlpha-75: rgba(13, 46, 209, 0.75);
  --colorUltramarineAlpha-80: rgba(13, 46, 209, 0.8);
  --colorUltramarineAlpha-85: rgba(13, 46, 209, 0.85);
  --colorUltramarineAlpha-90: rgba(13, 46, 209, 0.9);
  --colorUltramarineAlpha-95: rgba(13, 46, 209, 0.95);
  --colorMidnightAlpha-0: rgba(10, 19, 37, 0);
  --colorMidnightAlpha-5: rgba(10, 19, 37, 0.05);
  --colorMidnightAlpha-10: rgba(10, 19, 37, 0.1);
  --colorMidnightAlpha-15: rgba(10, 19, 37, 0.15);
  --colorMidnightAlpha-20: rgba(10, 19, 37, 0.2);
  --colorMidnightAlpha-25: rgba(10, 19, 37, 0.25);
  --colorMidnightAlpha-30: rgba(10, 19, 37, 0.3);
  --colorMidnightAlpha-35: rgba(10, 19, 37, 0.35);
  --colorMidnightAlpha-40: rgba(10, 19, 37, 0.4);
  --colorMidnightAlpha-45: rgba(10, 19, 37, 0.45);
  --colorMidnightAlpha-50: rgba(10, 19, 37, 0.5);
  --colorMidnightAlpha-55: rgba(10, 19, 37, 0.55);
  --colorMidnightAlpha-60: rgba(10, 19, 37, 0.6);
  --colorMidnightAlpha-65: rgba(10, 19, 37, 0.65);
  --colorMidnightAlpha-70: rgba(10, 19, 37, 0.7);
  --colorMidnightAlpha-75: rgba(10, 19, 37, 0.75);
  --colorMidnightAlpha-80: rgba(10, 19, 37, 0.8);
  --colorMidnightAlpha-85: rgba(10, 19, 37, 0.85);
  --colorMidnightAlpha-90: rgba(10, 19, 37, 0.9);
  --colorMidnightAlpha-95: rgba(10, 19, 37, 0.95);
  --colorWhiteAlpha-0: rgba(255, 255, 255, 0);
  --colorWhiteAlpha-5: rgba(255, 255, 255, 0.05);
  --colorWhiteAlpha-10: rgba(255, 255, 255, 0.1);
  --colorWhiteAlpha-15: rgba(255, 255, 255, 0.15);
  --colorWhiteAlpha-20: rgba(255, 255, 255, 0.2);
  --colorWhiteAlpha-25: rgba(255, 255, 255, 0.25);
  --colorWhiteAlpha-30: rgba(255, 255, 255, 0.3);
  --colorWhiteAlpha-35: rgba(255, 255, 255, 0.35);
  --colorWhiteAlpha-40: rgba(255, 255, 255, 0.4);
  --colorWhiteAlpha-45: rgba(255, 255, 255, 0.45);
  --colorWhiteAlpha-50: rgba(255, 255, 255, 0.5);
  --colorWhiteAlpha-55: rgba(255, 255, 255, 0.55);
  --colorWhiteAlpha-60: rgba(255, 255, 255, 0.6);
  --colorWhiteAlpha-65: rgba(255, 255, 255, 0.65);
  --colorWhiteAlpha-70: rgba(255, 255, 255, 0.7);
  --colorWhiteAlpha-75: rgba(255, 255, 255, 0.75);
  --colorWhiteAlpha-80: rgba(255, 255, 255, 0.8);
  --colorWhiteAlpha-85: rgba(255, 255, 255, 0.85);
  --colorWhiteAlpha-90: rgba(255, 255, 255, 0.9);
  --colorWhiteAlpha-95: rgba(255, 255, 255, 0.95);
  --colorBlackAlpha-0: rgba(0, 0, 0, 0);
  --colorBlackAlpha-5: rgba(0, 0, 0, 0.05);
  --colorBlackAlpha-10: rgba(0, 0, 0, 0.1);
  --colorBlackAlpha-15: rgba(0, 0, 0, 0.15);
  --colorBlackAlpha-20: rgba(0, 0, 0, 0.2);
  --colorBlackAlpha-25: rgba(0, 0, 0, 0.25);
  --colorBlackAlpha-30: rgba(0, 0, 0, 0.3);
  --colorBlackAlpha-35: rgba(0, 0, 0, 0.35);
  --colorBlackAlpha-40: rgba(0, 0, 0, 0.4);
  --colorBlackAlpha-45: rgba(0, 0, 0, 0.45);
  --colorBlackAlpha-50: rgba(0, 0, 0, 0.5);
  --colorBlackAlpha-55: rgba(0, 0, 0, 0.55);
  --colorBlackAlpha-60: rgba(0, 0, 0, 0.6);
  --colorBlackAlpha-65: rgba(0, 0, 0, 0.65);
  --colorBlackAlpha-70: rgba(0, 0, 0, 0.7);
  --colorBlackAlpha-75: rgba(0, 0, 0, 0.75);
  --colorBlackAlpha-80: rgba(0, 0, 0, 0.8);
  --colorBlackAlpha-85: rgba(0, 0, 0, 0.85);
  --colorBlackAlpha-90: rgba(0, 0, 0, 0.9);
  --colorBlackAlpha-95: rgba(0, 0, 0, 0.95);
  --colorMirrorMidnight: var(--grey-10);
  --colorMirrorMidnight-3: var(--grey-1);
  --colorMirrorMidnight-5: var(--grey-2);
  --colorMirrorMidnight-10: var(--grey-3);
  --colorMirrorMidnight-15: var(--grey-4);
  --colorMirrorMidnight-20: var(--grey-4);
  --colorMirrorMidnight-25: var(--grey-5);
  --colorMirrorMidnight-30: var(--grey-5);
  --colorMirrorMidnight-35: var(--grey-6);
  --colorMirrorMidnight-40: var(--grey-6);
  --colorMirrorMidnight-45: var(--grey-6);
  --colorMirrorMidnight-50: var(--grey-6);
  --colorMirrorMidnight-55: var(--grey-7);
  --colorMirrorMidnight-60: var(--grey-7);
  --colorMirrorMidnight-65: var(--grey-7);
  --colorMirrorMidnight-70: var(--grey-8);
  --colorMirrorMidnight-75: var(--grey-8);
  --colorMirrorMidnight-80: var(--grey-9);
  --colorMirrorMidnight-85: var(--grey-9);
  --colorMirrorMidnight-90: var(--grey-9);
  --colorMirrorMidnight-95: var(--grey-10);
  --colorMirrorMidnight-97: var(--grey-10);
  --colorMirrorMidnight-99: var(--grey-10);
  --colorMirrorWhite: var(--grey-0);
  --colorMirrorWhiteAlpha-50: rgba(255, 255, 255, 0.5);
  --colorMirrorWhiteAlpha-80: rgba(255, 255, 255, 0.8);
  --colorMirrorWhiteAlpha-90: rgba(255, 255, 255, 0.9);
  --colorMirrorBlack: black;
  --colorMirrorBlue-9: var(--blue-6);
  --colorMirrorYellow-1: var(--yellow-1);
  --colorMirrorYellow-8: var(--yellow-5);
  --colorMirrorYellow-10: var(--yellow-6);
  --colorMirrorCoral-8: var(--red-4);
  --colorMirrorCoral-10: var(--red-6);
  --colorMirrorCoral-12: var(--red-7);
  --colorMirrorIndigo-8: var(--purple-6);
  --colorMirrorIndigo-10: var(--purple-7);
  --colorMirrorGreen-10: var(--green-6);
  --colorMirrorUltramarine-7: var(--blue-8);
  --colorMirrorUltramarine-8: var(--blue-9);
  --colorMirrorUltramarine-10: var(--blue-10);
  --colorMirrorUltramarine-12: var(--blue-10);
  --colorMirrorViolet-8: var(--violet-5);
  --colorPrimary: var(--blue-5);
  --colorPrimaryLight: var(--blue-4);
  --colorPrimaryLighter: var(--blue-3);
  --colorPrimaryDark: var(--blue-6);
  --colorPrimaryDarker: var(--blue-7);
  --colorPrimaryOnBackgroundLight: rgba(71, 169, 255, 0.2);
  --colorPrimaryOnBackgroundLighter: rgba(71, 169, 255, 0.1);
  --colorSecondary: var(--grey-10);
  --colorSecondaryLight: var(--grey-8);
  --colorSecondaryLighter: var(--grey-7);
  --colorSecondaryDark: var(--grey-9);
  --colorSecondaryDarker: var(--grey-10);
  --colorSecondaryOnBackgroundLight: var(--alpha-grey-4);
  --colorSecondaryOnBackgroundLighter: var(--alpha-grey-2);
  --colorDanger: var(--red-5);
  --colorDangerLight: var(--red-4);
  --colorDangerLighter: var(--red-3);
  --colorDangerDark: var(--red-6);
  --colorDangerDarker: var(--red-7);
  --colorDangerOnBackgroundLight: rgba(251, 74, 76, 0.25);
  --colorDangerOnBackgroundLighter: rgba(251, 74, 76, 0.15);
  --colorWarning: var(--yellow-5);
  --colorWarningLight: var(--yellow-4);
  --colorWarningLighter: var(--yellow-3);
  --colorWarningDark: var(--yellow-6);
  --colorWarningDarker: var(--yellow-7);
  --colorWarningOnBackgroundLight: rgba(252, 199, 58, 0.3);
  --colorWarningOnBackgroundLighter: rgba(252, 199, 58, 0.2);
  --colorSuccess: var(--green-5);
  --colorSuccessLight: var(--green-4);
  --colorSuccessLighter: var(--green-3);
  --colorSuccessDark: var(--green-6);
  --colorSuccessDarker: var(--green-7);
  --colorSuccessOnBackgroundLight: rgba(79, 216, 79, 0.25);
  --colorSuccessOnBackgroundLighter: rgba(79, 216, 79, 0.15);
  --iconDropdownArrow: url("data:image/svg+xml;charset=UTF-8,<svg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M0.313097 4.31313C0.50835 4.11786 0.824932 4.11784 1.0202 4.3131L8 11.2922L14.9798 4.3131C15.1751 4.11784 15.4916 4.11786 15.6869 4.31313C15.8822 4.5084 15.8821 4.82498 15.6869 5.02024L8.69929 12.0072C8.51394 12.1926 8.26221 12.2971 8 12.2971C7.73766 12.2971 7.48608 12.1928 7.30071 12.0072L0.31313 5.02024C0.117859 4.82498 0.117844 4.5084 0.313097 4.31313Z' fill='%23232b3b'/></svg> ");
}
#mxapp.theme-dark,
#mxapp .theme-dark {
  --grey-0: #171717;
  --grey-1: #252525;
  --grey-2: #313131;
  --grey-3: #3e3e3e;
  --grey-4: #4f4f4f;
  --grey-5: #646464;
  --grey-6: #848484;
  --grey-7: #a4a4a4;
  --grey-8: #c5c5c5;
  --grey-9: #dedede;
  --grey-10: #ffffff;
  --blue-1: #101374;
  --blue-2: #24278f;
  --blue-3: #2b36b0;
  --blue-4: #344bce;
  --blue-5: #3a65e5;
  --blue-6: #4481f2;
  --blue-7: #579bf9;
  --blue-8: #6db1fe;
  --blue-9: #8ac4ff;
  --blue-10: #add8ff;
  --green-1: #124112;
  --green-2: #186118;
  --green-3: #1f801f;
  --green-4: #289d28;
  --green-5: #34b634;
  --green-6: #43c943;
  --green-7: #5bdb5b;
  --green-8: #72e972;
  --green-9: #96f396;
  --green-10: #c0fac0;
  --purple-1: #2a0b66;
  --purple-2: #341984;
  --purple-3: #4326a3;
  --purple-4: #5131c5;
  --purple-5: #603edc;
  --purple-6: #724ef5;
  --purple-7: #8568f8;
  --purple-8: #9782ff;
  --purple-9: #afa1ff;
  --purple-10: #c9c0ff;
  --red-1: #5c1028;
  --red-2: #78152f;
  --red-3: #9c243a;
  --red-4: #ba2b37;
  --red-5: #d4373c;
  --red-6: #e3494b;
  --red-7: #f25c5c;
  --red-8: #fe7777;
  --red-9: #ff9b99;
  --red-10: #ffbdbd;
  --violet-1: #4b1352;
  --violet-2: #5c1963;
  --violet-3: #732083;
  --violet-4: #902aac;
  --violet-5: #a836ce;
  --violet-6: #bf46ec;
  --violet-7: #cd59f7;
  --violet-8: #da76fe;
  --violet-9: #e599ff;
  --violet-10: #edb8ff;
  --yellow-1: #5c2e14;
  --yellow-2: #82481e;
  --yellow-3: #a66e24;
  --yellow-4: #c7912e;
  --yellow-5: #e3ae3b;
  --yellow-6: #f0c247;
  --yellow-7: #fbcf55;
  --yellow-8: #ffda70;
  --yellow-9: #ffe495;
  --yellow-10: #ffeeba;
  --alpha-grey-0: transparent;
  --alpha-grey-1: rgba(255, 255, 255, 0.06);
  --alpha-grey-2: rgba(255, 255, 255, 0.1);
  --alpha-grey-3: rgba(255, 255, 255, 0.16);
  --alpha-grey-4: rgba(255, 255, 255, 0.24);
  --alpha-grey-5: rgba(255, 255, 255, 0.37);
  --alpha-grey-6: rgba(255, 255, 255, 0.56);
  --alpha-grey-7: rgba(255, 255, 255, 0.74);
  --alpha-grey-8: rgba(255, 255, 255, 0.83);
  --alpha-grey-9: rgba(255, 255, 255, 0.92);
  --alpha-grey-10: #ffffff;
  --background-table-cell-hover: #313131;
  --background-table-cell-selected: #ffffff;
  --background-table-cell-default: #171717;
  --background-table-header-default: #313131;
  --background-mx-dock: #252525;
  --background-default: #171717;
  --background-subtle: #252525;
  --background-contrast: #ffffff;
  --background-accordion-default: transparent;
  --background-accordion-hover: #313131;
  --background-alert-info: #101374;
  --background-alert-success: #124112;
  --background-alert-warning: #5c2e14;
  --background-alert-error: #5c1028;
  --background-highlight: #101374;
  --background-button-fill-blue-default: #579bf9;
  --background-button-fill-blue-hover: #6db1fe;
  --background-button-fill-blue-active: #8ac4ff;
  --background-button-fill-red-default: #f25c5c;
  --background-button-fill-red-hover: #fe7777;
  --background-button-fill-red-active: #ff9b99;
  --background-button-fill-grey-default: #4f4f4f;
  --background-button-fill-grey-hover: #3e3e3e;
  --background-button-fill-grey-active: #313131;
  --background-button-fill-light-default: #ffffff;
  --background-button-fill-light-hover: #dedede;
  --background-button-fill-light-active: #c5c5c5;
  --background-button-fill-dark-default: #171717;
  --background-button-fill-dark-hover: #3e3e3e;
  --background-button-fill-dark-active: #4f4f4f;
  --background-button-fill-selected-default: #ffffff;
  --background-button-fill-selected-hover: #dedede;
  --background-button-fill-selected-active: #c5c5c5;
  --background-button-outline-blue-default: transparent;
  --background-button-outline-blue-hover: #101374;
  --background-button-outline-blue-active: #24278f;
  --background-button-outline-red-default: transparent;
  --background-button-outline-red-hover: #5c1028;
  --background-button-outline-red-active: #78152f;
  --background-button-outline-grey-default: transparent;
  --background-button-outline-grey-hover: rgba(255, 255, 255, 0.16);
  --background-button-outline-grey-active: rgba(255, 255, 255, 0.24);
  --background-button-outline-light-default: transparent;
  --background-button-outline-light-hover: rgba(255, 255, 255, 0.1);
  --background-button-outline-light-active: rgba(255, 255, 255, 0.16);
  --background-button-outline-dark-default: transparent;
  --background-button-outline-dark-hover: #dedede;
  --background-button-outline-dark-active: #c5c5c5;
  --background-button-text-blue-default: transparent;
  --background-button-text-blue-hover: #101374;
  --background-button-text-blue-active: #24278f;
  --background-button-text-red-default: transparent;
  --background-button-text-red-hover: #5c1028;
  --background-button-text-red-active: #78152f;
  --background-button-text-grey-default: transparent;
  --background-button-text-grey-hover: rgba(255, 255, 255, 0.16);
  --background-button-text-grey-active: rgba(255, 255, 255, 0.24);
  --background-button-text-light-default: transparent;
  --background-button-text-light-hover: rgba(255, 255, 255, 0.1);
  --background-button-text-light-active: rgba(255, 255, 255, 0.16);
  --background-button-text-dark-default: transparent;
  --background-button-text-dark-hover: #dedede;
  --background-button-text-dark-active: #c5c5c5;
  --background-elevation-0: #171717;
  --background-elevation-1: #252525;
  --background-elevation-4: #313131;
  --background-elevation-8: #3e3e3e;
  --background-elevation-16: #4f4f4f;
  --background-input-default: #171717;
  --background-input-read-only: #313131;
  --background-menu-item-default: transparent;
  --background-menu-item-hover: #313131;
  --background-nav-item-default: transparent;
  --background-nav-item-active: rgba(255, 255, 255, 0.16);
  --background-nav-item-hover: rgba(255, 255, 255, 0.1);
  --background-underlay: rgba(10, 19, 36, 0.7);
  --background-selector-selected: #dedede;
  --background-selector-unselected: #171717;
  --border-table-default: #3e3e3e;
  --border-default: rgba(255, 255, 255, 0.16);
  --border-alert-info: #24278f;
  --border-alert-success: #186118;
  --border-alert-warning: #a66e24;
  --border-alert-error: #78152f;
  --border-app-icon: #ffffff;
  --border-button-fill-blue-default: transparent;
  --border-button-fill-blue-hover: transparent;
  --border-button-fill-blue-active: transparent;
  --border-button-fill-red-default: transparent;
  --border-button-fill-red-hover: transparent;
  --border-button-fill-red-active: transparent;
  --border-button-fill-grey-default: transparent;
  --border-button-fill-grey-hover: transparent;
  --border-button-fill-grey-active: transparent;
  --border-button-fill-light-default: transparent;
  --border-button-fill-light-hover: transparent;
  --border-button-fill-light-active: transparent;
  --border-button-fill-dark-default: transparent;
  --border-button-fill-dark-hover: transparent;
  --border-button-fill-dark-active: transparent;
  --border-button-outline-blue-default: #579bf9;
  --border-button-outline-blue-hover: #6db1fe;
  --border-button-outline-blue-active: #8ac4ff;
  --border-button-outline-red-default: #f25c5c;
  --border-button-outline-red-hover: #fe7777;
  --border-button-outline-red-active: #ff9b99;
  --border-button-outline-grey-default: #dedede;
  --border-button-outline-grey-hover: #ffffff;
  --border-button-outline-grey-active: #ffffff;
  --border-button-outline-light-default: #ffffff;
  --border-button-outline-light-hover: #ffffff;
  --border-button-outline-light-active: #ffffff;
  --border-button-outline-dark-default: #171717;
  --border-button-outline-dark-hover: #171717;
  --border-button-outline-dark-active: #171717;
  --border-button-text-blue-default: transparent;
  --border-button-text-blue-hover: transparent;
  --border-button-text-blue-active: transparent;
  --border-button-text-red-default: transparent;
  --border-button-text-red-hover: transparent;
  --border-button-text-red-active: transparent;
  --border-button-text-grey-default: transparent;
  --border-button-text-grey-hover: transparent;
  --border-button-text-grey-active: transparent;
  --border-button-text-light-default: transparent;
  --border-button-text-light-hover: transparent;
  --border-button-text-light-active: transparent;
  --border-button-text-dark-default: transparent;
  --border-button-text-dark-hover: transparent;
  --border-button-text-dark-active: transparent;
  --border-card: rgba(255, 255, 255, 0.16);
  --border-divider: #4f4f4f;
  --border-focus: #4481f2;
  --border-input-default: rgba(255, 255, 255, 0.37);
  --border-input-error: #e3494b;
  --border-selector-hover: #dedede;
  --border-selector-active: #a4a4a4;
  --border-selector-selected: #dedede;
  --border-tab-selected: #dedede;
  --text-body: rgba(255, 255, 255, 0.83);
  --text-body-inverse: rgba(10, 19, 36, 0.7);
  --text-caption: rgba(255, 255, 255, 0.74);
  --text-caption-inverse: rgba(10, 19, 36, 0.6);
  --text-display: rgba(255, 255, 255, 0.92);
  --text-display-inverse: rgba(10, 19, 36, 0.85);
  --text-link-default: #6db1fe;
  --text-link-hover: #8ac4ff;
  --text-link-active: #add8ff;
  --text-link-focus: #8ac4ff;
  --text-link-visited: #9782ff;
  --text-button-fill-blue-default: #171717;
  --text-button-fill-blue-hover: #171717;
  --text-button-fill-blue-active: #171717;
  --text-button-fill-red-default: #171717;
  --text-button-fill-red-hover: #171717;
  --text-button-fill-red-active: #171717;
  --text-button-fill-grey-default: rgba(255, 255, 255, 0.92);
  --text-button-fill-grey-hover: #ffffff;
  --text-button-fill-grey-active: #ffffff;
  --text-button-fill-light-default: #171717;
  --text-button-fill-light-hover: #171717;
  --text-button-fill-light-active: #171717;
  --text-button-fill-dark-default: #ffffff;
  --text-button-fill-dark-hover: #ffffff;
  --text-button-fill-dark-active: #ffffff;
  --text-button-fill-selected-default: #171717;
  --text-button-fill-selected-hover: #171717;
  --text-button-fill-selected-active: #171717;
  --text-button-outline-blue-default: #579bf9;
  --text-button-outline-blue-hover: #6db1fe;
  --text-button-outline-blue-active: #8ac4ff;
  --text-button-outline-red-default: #f25c5c;
  --text-button-outline-red-hover: #fe7777;
  --text-button-outline-red-active: #ff9b99;
  --text-button-outline-grey-default: #dedede;
  --text-button-outline-grey-hover: #ffffff;
  --text-button-outline-grey-active: #ffffff;
  --text-button-outline-light-default: #ffffff;
  --text-button-outline-light-hover: #ffffff;
  --text-button-outline-light-active: #ffffff;
  --text-button-outline-dark-default: #171717;
  --text-button-outline-dark-hover: #171717;
  --text-button-outline-dark-active: #171717;
  --text-button-text-blue-default: #579bf9;
  --text-button-text-blue-hover: #6db1fe;
  --text-button-text-blue-active: #8ac4ff;
  --text-button-text-red-default: #f25c5c;
  --text-button-text-red-hover: #fe7777;
  --text-button-text-red-active: #ff9b99;
  --text-button-text-grey-default: #dedede;
  --text-button-text-grey-hover: #ffffff;
  --text-button-text-grey-active: #ffffff;
  --text-button-text-light-default: #ffffff;
  --text-button-text-light-hover: #ffffff;
  --text-button-text-light-active: #ffffff;
  --text-button-text-dark-default: #171717;
  --text-button-text-dark-hover: #171717;
  --text-button-text-dark-active: #171717;
  --text-danger: #e3494b;
  --text-error: #e3494b;
  --text-label: rgba(255, 255, 255, 0.92);
  --text-nav-item-default: rgba(255, 255, 255, 0.92);
  --text-nav-item-header: rgba(255, 255, 255, 0.74);
  --text-placeholder: rgba(255, 255, 255, 0.74);
  --text-tab-default: #a4a4a4;
  --text-tab-hover: #dedede;
  --text-tab-selected: #dedede;
  --icon-input-indicator: rgba(255, 255, 255, 0.56);
  --icon-input-action: rgba(255, 255, 255, 0.83);
  --icon-input-action-hover: #ffffff;
  --icon-input-error: #e3494b;
  --icon-alert-info: #579bf9;
  --icon-alert-success: #72e972;
  --icon-alert-warning: #ffda70;
  --icon-alert-error: #f25c5c;
  --outline-focus: #4481f2;
  --accent-grey: #646464;
  --accent-red: #d4373c;
  --accent-yellow: #e3ae3b;
  --accent-green: #34b634;
  --accent-blue: #3a65e5;
  --accent-purple: #603edc;
  --accent-violet: #a836ce;
  --gradient-background-default-90: #000000;
  --gradient-background-subtle-90: #000000;
  --gradient-background-contrast-90: #000000;
}

#mxapp .styling-link {
  color: var(--red-6);
}
#mxapp .styling-link:active,
#mxapp .styling-link a:active {
  color: var(--red-6);
}